<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>list</title>
<!--    <link rel="stylesheet" href="/src/main/resources/static/assets/css/main/main.css" />-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/assets/css/default.css" />-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/assets/css/header.css" />-->
<!--    <link rel="stylesheet" href="/src/main/resources/static/assets/css/footer.css" />-->
    <link rel="stylesheet" href="/assets/css/main/main.css"/>
    <link rel="stylesheet" href="/assets/css/default.css"/>
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/footer.css" />
    <style>
        div.photoContents {
            height: 100%;
        }

        div.photoContents > div {
            display: flex;
            flex-wrap: wrap;
        }

        div.photoContents figure {
            width: 33.33%;
            height: 250px;
            padding: 10px;
        }

        div.photoContents figure a {
            display: block;
            height: 100%;
            overflow: hidden;
        }
        div.photoContents figure img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s ease;
            transform-origin: center center;
        }
        div.photoContents img:hover {
            transform: scale(1.1);
            transform-origin: center center;
        }

        div._category_wrapper > a.on div._category_img_box{
            border:2px solid rgb(255 87 87);
        }

    </style>

</head>

<body>
    <header th:insert="~{/header :: header}"></header>
    <main>
        <div class="_main_wrapper">
            <div class="_main_top_wrapper">
                <!-- 카테고리 선택 창 -->
                <div class="_category_wrapper">
                    <a href="life">
                        <div class="_category_detail _life">
                            <div class="_category_img_box" style="padding:10px ;">
                                <div class="_category_img">
                                    <img class="_img" src="/images/main/life.png">
                                </div>
                            </div>
                            <div class="_category_write">
                                생 활
                            </div>
                        </div>
                    </a>
                    <a href="exercise">
                        <div class="_category_detail _exercise">
                            <div class="_category_img_box">
                                <div class="_category_img">
                                    <img src="/images/main/exercise.png" class="_img">
                                </div>
                            </div>
                            <div class="_category_write">
                                운 동
                            </div>
                        </div>
                    </a>
                    <a href="hobby">
                        <div class="_category_detail _hobby">
                            <div class="_category_img_box">
                                <div class="_category_img">
                                    <img src="/images/main/hobby.png" class="_img">
                                </div>
                            </div>
                            <div class="_category_write">
                                취 미
                            </div>
                        </div>
                    </a>
                    <a href="art">
                        <div class="_category_detail _art">
                            <div class="_category_img_box">
                                <div class="_category_img">
                                    <img src="/images/main/art.png" class="_img">
                                </div>
                            </div>
                            <div class="_category_write">
                                예 술
                            </div>
                        </div>
                    </a>
                    <a href="heart">
                        <div class="_category_detail _heart">
                            <div class="_category_img_box">
                                <div class="_category_img">
                                    <img src="/images/main/heart.png" class="_img">
                                </div>
                            </div>
                            <div class="_category_write">
                                정 서
                            </div>
                        </div>
                    </a>
                    <a href="eating">
                        <div class="_category_detail _eating">
                            <div class="_category_img_box">
                                <div class="_category_img">
                                    <img src="/images/main/eating.png" class="_img">
                                </div>
                            </div>
                            <div class="_category_write">
                                식 습 관
                            </div>
                        </div>
                    </a>
                    <a href="study">
                        <div class="_category_detail _study">
                            <div class="_category_img_box">
                                <div class="_category_img">
                                    <img src="/images/main/study.png" class="_img">
                                </div>
                            </div>
                            <div class="_category_write">
                                공 부
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 본문 시작 -->
            <div class="_main_bottom_wrapper">
                <!-- 변경 버튼 -->
                <div class="litChange">
                    <div>
                        <a class="lits1Off" id="lits1">
                            <div>
                                <img class="litSvg" id="lit1Img" src="/images/mypage/menu2.png">
                                <span class="litSpan">Lit up</span>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a class="lits2On" id="lits2">
                            <div><img class="litSvg" id="lit2Img" src="/images/mypage/lists.png">
                                <span class="litSpan">Lits</span>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- 프로젝트 시작 -->
                <div class="photoContents">
                    <div>
<!--                        <figure>-->
<!--                            <a href="">-->
<!--                                <img alt="" src="">-->
<!--                            </a>-->
<!--                        </figure>-->

                    </div>
                </div>
            </div>
        </div>

<!--        <footer th:insert="~{/footer :: footer}"></footer>-->
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
 <script src="/assets/js/main/list.js"></script>
<!--<script src="/src/main/resources/static/assets/js/main/main.js"></script>-->

<script th:inline="javascript">

    let pageNum = 1;
    const contBox = $('div.photoContents > div');
    let cate1 = "lits";     // lits / litups
    let cate2 = "all";  // 카테고리
    let order = "new";  // new 신규 / popular 인기
    // 기본 시작은 lit
    litList();

    function litList() {
        console.log("ajax----------------");
        $.ajax({
            url: "/list/" +cate1+ "/" + order +"/" + cate2 + "/" + pageNum,
            type: "get",
            dataType: 'json',
            success: function (result) {
                console.log("page : " + pageNum);
                pageNum++; // 다음 페이지 번호 지정

                if( cate1 == "litups"){
                    console.log("litup");
                    litupadd(result);
                }else {
                    litsadd(result);
                }

            }, error: function (xhr, textStatus, errorThrown) {
                console.log('통신 실패');
                console.log(xhr);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });
    }

    // 리스트에 추가하기
    function litsadd(result) {
        let str = "";  // 리스트 html 담을 변수

        $.each(result, function (i, projectVO) {
            let src = "/lit/display?fileName=";
            //이미지 경로
            src += projectVO.projectFile.uploadPath + "/";
            src += projectVO.projectFile.uuid + "_";
            src += projectVO.projectFile.name;
            // console.log(src);
            str += "<figure><a href='"+projectVO.projectNumber+"'>";
            str += "<img src='"+src+"'>";
            str += "</a></figure>";
        });
        contBox.append(str);
    }

    function litupadd(result) {
        let str = "";
        result.forEach( (data, i) => {
            let file = data.reviewFileList;
            if(file[0]){
                str += "<figure><a href=\"" + data.reviewNumber + "\">";
                str += "<img src=\"/litUp/display?fileName=" + file[0].uploadPath + "/" + file[0].uuid + "_" + file[0].name + "\">";
                str += "</a></figure>";
            }
        })
        $(".photoContents > div").append(str);
    }

    //-----------------------------------------------------

    // 카테고리 클릭시 이벤트 페이지 이동
    $("._category_wrapper a").on("click", function (e) {
        e.preventDefault();
        if( $(this).hasClass("on") ){  // 같은 태그 선택시 이벤트 취소
            return false;
        }

        // 선택 태그 클래스 주입
        $("._category_wrapper a").removeClass("on");
        $(this).addClass("on");
        contBox.html("");                 // 이미지 리스트 초기화
        pageNum = 1;                    // 페이지번호 초기화
        cate2 = $(this).attr("href");   // 링크 변수값( 카테고리 값 )
        console.log(cate2);
        litList();                      // ajax 실행
    });

    // 이미지 클릭시 모달창 오픈 ----------------------------------------------------------------
    $("photoContents a").on("click", function (e) {
        e.preventDefault();
        let link = $(this).attr("href"); // 링크 변수값

    });
    //---------------------------------------------------------------------------------------

    //스크롤 이벤트
    let timer;
    $(window).scroll(function () {
        // 라스트 페이지면 실행 불가
        // if(pageNum == last){
        //     return false;
        // }
        // 현 스크롤 탑의 위치
        let windowTop = $(window).scrollTop();
        // 변화될 아이
        let contentHeight = $(".photoContents").height();
        // 창의 전체 높이
        let windowHeight = $(window).height();

        // 스크롤이 마지막 이면 데이터 가져오기
        if (windowTop > (contentHeight - windowHeight)) {
            // 스크롤 맨 아래
            if (timer) {
                clearTimeout(timer);
            }
            timer = setTimeout(() => {
                litList();  // ajax 실행
            }, 500);
        } else {
            //스크롤중..
        }
    });

    // lis litup 스위치 -----------------
    const lit1 = $('#lits1');
    const lit2 = $('#lits2');
    // lit Up 버튼 액션
    lit1.on("click", function(){
        if( !$(this).hasClass("on") ){
            $(this).addClass("on");
            lit2.removeClass("on")
            cate1 = "litups";   // lits / litups
            contBox.html(""); // 이미지리스트 초기화
            pageNum = 1;                    // 페이지번호 초기화
            litList(); //리스트 가져오기
        }

        lit1.attr('class', 'lits1On');
        $('#lit1Img').attr('src', '/images/mypage/menu.png');

        lit2.attr('class', 'lits2Off');
        $('#lit2Img').attr('src', '/images/mypage/fire.png');

        // getLitUpList();
    });

    // LITS 버튼 액션
    lit2.on("click", function(){
        if( !$(this).hasClass("on") ){
            $(this).addClass("on");
            lit1.removeClass("on");
            cate1 = "lits";     // lits / litups
            contBox.html("");     // 이미지리스트 초기화
            pageNum = 1;         // 페이지번호 초기화
            litList();          //리스트 가져오기
        }

        lit2.attr('class', 'lits2On');
        $('#lit2Img').attr('src', '/images/mypage/lists.png');
        lit1.attr('class', 'lits1Off');
        $('#lit1Img').attr('src', '/images/mypage/menu2.png');

    });

</script>

</html>