<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lit_MAIN</title>
    <link rel="stylesheet" href="/assets/css/footer.css"/>
</head>
<body th:fragment="footer">
    <div class="_footer_wrapper">
        <div class="_footer_textarea">
            <div class="_text_adress">서울특별시 강남구 테헤란로 146 </div>
            <div class="_text_email">getLitty@litsearvice.com</div>
            <div class="_text_service">고객센터 070-4731-6898, 평일 09:00 ~ 18:00 </div>
            <div class="_text_right">© 2022 Lit from Korea</div>
        </div>
    </div>
</body>
</html>


    

