@charset "UTF-8";
@import url("default/default.css");
@import url("default/variables.css");

.main,
.wrapper,
.inner {
  height: 100%;
  width: 100%;
}
div.wrapper {
  padding: 0;
}
.content {
  border: 1px solid var(--border-gray);
  width: 350px;
  height: 350px;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  height: 36px;
  width: 266px;
  padding: 0 10px;
  background-color: var(--background-gray);
  border: 1px solid var(--border-gray);
  border-radius: 3px;
}
input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

.id-wrapper {
  margin-bottom: 10px;
}
.button-wrapper {
  margin-top: 20px;
}

.button-wrapper {
  height: 30px;
  width: 266px;
}

.logo > img {
  height: 50px;
}
