<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lit.mapper.project.ProjectFileMapper">
    <insert id="insert">
        INSERT INTO TBL_PROJECT_FILE (UUID, UPLOAD_PATH, NAME, IMAGE, PROJECT_NUMBER, FILE_NUMBER)
        VALUES (#{uuid}, #{uploadPath}, #{name}, #{image}, #{projectNumber}, SEQ_PROJECTFILE.NEXTVAL)
    </insert>

    <delete id="delete">
        DELETE FROM TBL_PROJECT_FILE WHERE PROJECT_NUMBER = #{projectNumber}
    </delete>

    <select id="getImg" resultType="projectFileVO">
        SELECT UUID, UPLOAD_PATH, NAME, IMAGE, PROJECT_NUMBER, FILE_NUMBER
        FROM TBL_PROJECT_FILE
        WHERE PROJECT_NUMBER = #{projectNumber}
    </select>

    <select id="getOldFiles" resultType="projectFileVO">
        SELECT UUID, UPLOAD_PATH, NAME, IMAGE, PROJECT_NUMBER, FILE_NUMBER
        FROM TBL_PROJECT_FILE
        WHERE UPLOAD_PATH = TO_CHAR(SYSDATE - 1, 'YYYY/MM/DD')
    </select>

    <select id="getMyProject" resultType="projectFileVO">
        SELECT PF.UUID, PF.UPLOAD_PATH, PF.NAME, PF.IMAGE, PF.PROJECT_NUMBER, PF.FILE_NUMBER
        FROM TBL_PROJECT_FILE PF, TBL_PARTICIPATION PT, TBL_PROJECT PJ
        WHERE PT.PROJECT_NUMBER = PJ.PROJECT_NUMBER
		AND PT.PROJECT_NUMBER = PF.PROJECT_NUMBER
		AND PT.USER_NUMBER = ${userNumber} AND PJ.STATUS = 1
    </select>

</mapper>

