<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lit.mapper.user.UserFileMapper">
    <insert id="insert">
        INSERT INTO TBL_USER_FILE (UUID, UPLOAD_PATH, NAME, IMAGE, USER_NUMBER, FILE_NUMBER)
        VALUES (#{uuid}, #{uploadPath}, #{name}, #{image}, #{userNumber}, SEQ_USERFILE.NEXTVAL)
    </insert>

    <delete id="delete">
        DELETE FROM TBL_USER_FILE WHERE USER_NUMBER = #{userNumber}
    </delete>

    <select id="getImg" resultType="userFileVO">
        SELECT UUID, UPLOAD_PATH, NAME, IMAGE, USER_NUMBER, FILE_NUMBER
        FROM TBL_USER_FILE
        WHERE USER_NUMBER = #{userNumber}
    </select>

    <update id="update">
        UPDATE TBL_USER_FILE
        SET UUID = #{uuid}, UPLOAD_PATH = #{uploadPath}, NAME = #{name}, IMAGE = #{image}
        WHERE USER_NUMBER = #{userNumber}
    </update>

    <select id="getOldFiles" resultType="userFileVO">
        SELECT UUID, UPLOAD_PATH, NAME, IMAGE, REVIEW_NUMBER, FILE_NUMBER
        FROM TBL_USER_FILE
        WHERE UPLOAD_PATH = TO_CHAR(SYSDATE - 1, 'YYYY/MM/DD')
    </select>
</mapper>